.first
{
    padding-top:8%;
    height: 20%;
    padding-left: 15%;
    background-color: #DADEFF;
    padding-bottom: 3%;
}
.second
{
    padding-left: 15%;
    display: flex;
    height: 40%;
    flex-direction: row;
}
.footer
{
    padding-top: 5%;
    height: 10%;
}
.copyrights
{
    padding-left: 15%;
}
.card
{
    width: 400px;
}
.text
{
    font-size: 1.5rem;
}
.btn
{
    height: 40px;
    width: 130px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
}
.view
{
    height: 30px;
    width: 120px;
    background-color:#445e5b;
    color: white;
    border: none;
    border-radius: 4px;
}
.heading
{
    font-size: 3rem;
}

@media (max-width: 700px) {
    .second
    {
      flex-direction: column;
    }
    .first
    {
        padding-top:20px;
        height: 250px;
        padding-left: 15%;
        background-color: #DADEFF;
    }

  }
